.top-bar {
    overflow: hidden;
    background-color: #FDF5E6;
    padding: 20px 10px;
}

.top-bar a {
    float: left;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.top-bar a.logo {
    font-weight: bold;
    font-size: 25px;
}

.top-bar a:hover {
    background-color: #f1f1f1;
    color: black;
}

.top-bar a.Active {
    background-color: dodgerblue;
    color: white;
}

.top-nav {
    float: right;
}

@media screen and (max-width: 500px) {
    .top-bar {
        float: none;
        text-align: left;
        display: block;
    }
    .top-nav {
        float: none;
    }
}